body {
    background-color: hwb(217 73% 19%);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}


.firstt {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

.secondd {
    font-size: 15px;
    text-align: center;
}

img {
    width: 200px;
    object-fit: contain;
    border:  solid blue;
    border-radius: 10px;

}

.container {
    border:2px solid white ;
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}